<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Saide Zorlu</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>

<nav class="navbar navbar-light light-blue lighten-4">


  <a class="navbar-brand" href="#">Saide Zorlu Mesli Teknik Anadolu Lisesi</a>


  <button class="navbar-toggle toggle-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
    aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i
        class="fas fa-bars fa-1x"></i></span></button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent1">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" asp-controller="Home" asp-action="Index">Anasayfa <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="Privacy">İletişim</a>
      </li>

  </div>

</nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - DEVELOPED BY UĞUR HAMAMCI -<a asp-area="" asp-controller="Home" asp-action="Privacy">UĞUR HAMAMCI</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
