<body></body>
<form style="margin-top:50px ;">
  <label for="">Adınız:</label>
   <input class="form-control" type="text" id="ad"placeholder="Uğur">
  <label for="">Soyadınız:</label>
   <input class="form-control" type="text" id="ad"placeholder="HAMAMCI">
 <label for="">E-Mail:</label>
   <input class="form-control" type="email" id="ad"placeholder="Örn: ugurhamamci@gmail.com">
   <label for="">Telefon Numarası:</label>
   <input class="form-control" type="tel" id="ad"placeholder="544 850 89 60"><br>

   <select class="form-control" aria-label="Default select example">
    <option selected>Olduğunuz Şehiri Seçin</option>
    <option value="istanbul">İstanbul</option>
    <option value="ankara">Ankara</option>
    <option value="izmir">İzmir</option>
</select><br>
   <label for="">Bildiğiniz Diller:</label>
   <input class="form-control" type="text" id="ad"placeholder="İngilizce,Almanca,Fransızca"><br>
<label for="flexRadioDefault1">CİNSİYETİNİZ</label>
      <div class="form-control col-md-4">
  <input class="form-control-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
  <label class="form-control-label" for="flexRadioDefault1">
    ERKEK
  </label>
</div>
<div class="form-control col-md-4">
  <input class="form-control-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
  <label class="form-control-label" for="flexRadioDefault2">
    KADIN
  </label>
</div><br>


   <label for="hakk">Hakkınızda:</label>
   <div class="col"></div>
        <div class="col-md-9">
        <textarea name="hakk" id="" cols="10" row="10" class="form-control col-md-6" placeholder="Hakkınızda..."></textarea><br>
        </div>
              <div class="col-md-5" style="position: absolute; left:1000px; bottom:200px;"> 
              <label for="dogum">Doğum Tarihiniz</label>
              <input type="date" name="dogum" class="form-control col-md-6">
              </div>



   <button class="btn btn-success" type="submit">GÖNDER</button>
   <button class="btn btn-danger" type="reset">TEMİZLE</button>
</form>